@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .header .header__logo img {
    margin-top: 8px;
  }

  .header .header__nav li a {
    padding: 5px;
  }

  .home .home__content {
    padding: 30px;
  }

  .home .home__content img {
    max-width: 100px;
  }

  .home .home__content .home__content__title {
    font-size: 2.4rem;
  }

  .home .home__content .home__content__description {
    font-size: 1rem;
  }

  .home .home__content__button {
    margin-top: 8px;
    width: 100%;
  }

  .buy-now .card {
    width: 100%;
  }

  .buy-now .informations .informations__list__platforms {
    flex-direction: row;
    gap: 18px;
  }

  .buy-now .card .card-select-platform {
    width: 100%;
  }
}

@media (max-width: 689px) {
  .buy-now {
    padding: 30px;
  }

  .buy-now .card {
    width: 100%;
    padding: 80px 20px;
  }

  .buy-now .card .card-select-platform {
    width: 90%;
  }

  .buy-now .card .card-select-platform .card-select-platform__title {
    font-size: 1.5rem;
  }

  .buy-now .card .card-select-platform .card-select-platform__buttons {
    padding: 15px;
  }
}

@media (max-width: 425px) {
  .header .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .header .header__nav li a {
    padding: 0px;
  }

  .buy-now .card {
    width: 100%;
  }

  .buy-now .card img {
    width: 70%;
  }

  .buy-now .card .informations ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

  .buy-now .card .informations ul li {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
}



  .buy-now .card .card-select-platform {
    width: 100%;
  }

  .buy-now .card .card-select-platform li a {
    font-size: 12px;
    padding: 0px;
  }
}
